*
!.gitignore
!requirements.txt
!VERSION
!LICENSE
!README.md
!.flake8
!pyproject.toml

# CI / CD
!.github/
!.github/workflows
!.github/workflows/QA.yml
!.github/workflows/test_ws.js

# Top level
!app.py
!app_config.ini
!ws_server.py

# Flask templates (HTML)
!templates/
!templates/empty.html
!templates/subs.html

# Flask assets (CSS / JS)
!static/
!static/css/
!static/css/tabler.min.css
!static/css/subs.css
!static/css/coloris.min.css
!static/css/tabler-vendors.min.css
!static/js/
!static/js/tabler.min.js
!static/js/ws.js
!static/js/subs.js
!static/js/coloris.min.js

# Backend stuff
!backend/

# VSCode configuration
!.vscode/
!.vscode/launch.json
