body {
    justify-content: center;
    display: flex;
}

.center {
    display: flex;
    padding: 24px;
    height: 100vh;
    margin: 0;
}

.subs {
    --stroke-color: rgb(187, 41, 143);
    --stroke-width: 4px;
    position: absolute;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    /* The below two control the child, column-reverse is top oldest */
    flex-direction: column-reverse;
    align-items: center;
}

.newSubs {
    margin-top: 12px;
    margin-bottom: 12px;
}